{% extends 'base.html' %}
{%block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our Ecommerce...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-8 text-center">
            <br/><br/><br/>
            <p align="justify">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet lacinia tortor sed suscipit.
                Fusce tempus neque sed justo viverra, at eleifend dolor sollicitudin. Nulla facilisi. Vestibulum
                bibendum congue arcu, ut tincidunt ante lacinia vitae. Vivamus aliquam ultricies hendrerit. Suspendisse
                pretium est nec purus pellentesque imperdiet. Sed sed mauris metus. Aenean a eros id odio eleifend
                pharetra vitae volutpat dui. Etiam at ipsum massa. In id commodo erat. Ut porttitor tortor sit amet nisi
                ornare, vitae placerat diam aliquam. Ut commodo venenatis consectetur.
                Nam sed ante egestas lectus ornare sagittis. Nulla lorem turpis, interdum in nisi vitae, dapibus
                suscipit leo. Proin hendrerit egestas iaculis. Quisque cursus egestas eleifend. Phasellus non felis
                fermentum, placerat ante ut, ornare quam. Phasellus in commodo sem. Nunc faucibus elementum ante, in
                ultricies ex volutpat vitae. Cras tristique scelerisque nisl. Phasellus facilisis leo accumsan risus
                mattis, vel sodales dolor feugiat. Integer imperdiet, ipsum in placerat egestas, nisl leo mattis erat,
                in eleifend nulla augue et sem. Donec condimentum tellus sed diam faucibus tristique. Sed in est
                fringilla, tristique augue non, pulvinar sapien. Integer ullamcorper justo nec feugiat sagittis. Nam
                porta sollicitudin leo, mollis consequat dolor lacinia vel. Praesent gravida euismod libero vel lacinia.
                Donec viverra quam at urna consequat, at sagittis arcu pharetra. Donec luctus felis vel turpis molestie
                euismod. Praesent nec tellus vitae sapien fermentum aliquam. Cras blandit ante et augue commodo tempus.
                Phasellus faucibus lorem ullamcorper, feugiat odio at, dignissim urna. Suspendisse risus nibh, ultricies
                non euismod et, venenatis sit amet mauris. Vivamus vel libero ante. Donec accumsan risus eu lacus
                fringilla euismod.
            </p>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>

        </div>

    </div>
</div>


{% endblock %}